.Banner {
 margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #5cb85c;
  padding: 30px;
  border-radius: 25px;
}

.Banner__title {
  color: white;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.Banner__subtitle {
  color: white;
  font-size: 26px;
}